@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #e3e9e5;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1a1a1a;
    text-align: center;
    padding: 1em 0;
}

h1 {
    padding: 0;
    color: white;
    font-size: 5rem;

    animation: fade-in-text ease-in 2s;
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Remove default styling for links */

a {
    text-decoration: none;
    color: #78a51a;
    font-weight: 700;
}

li {
    list-style: none;
}

/* Styling for header, nav element */

#navbar-logo {
    max-height: 3rem;
}

header {
    background-color: #1a1a1a;
    min-height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-links > li {
    display: inline;
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    transition: all 0.9s linear 0s;
}

.nav-links a:hover {
    color: #78a51a;
}

@media screen and (max-width: 620px) {
    header {
        padding: 0 2%;
    }
    #navbar-logo {
        max-height: 2rem;
    }
    .nav-links > li {
        margin-left: 1rem;
    }
    
}

/* Styling for hero image and heading */

.hero-outer {
    position: relative;
}

#home-hero {
    background-image: url("/assets/media/index-hero-hog.webp");
}

#help-hero {
    background-image: url("/assets/media/help-hero-hog.webp");
}

.hero-image {
    height: 600px;
    width: 100%;
    background: center center / cover no-repeat;
}

.hero-text {
    max-width: 25%;
    position: absolute;
    bottom: 47.5%;
    left: 10%;
    padding-top: 20px;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .hero-text > h1 {
        font-size: 3rem;
    }
}

/* Styling about section on index.html */

.about-container {
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
}

.about-box {
    text-align: justify;
    max-width: 350px;
}

/* Styling why help section of index.html */

#why-help {
    min-height: 600px;
    width: 100%;
    background: url("/assets/media/why-help-hog.webp") center center / cover no-repeat fixed;
    margin-top: 1.5rem;
}

#why-help > h2 {
    color: white;
}

.reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}

.reasons-bg {
    background-color: rgba(242, 236,210, 0.7);
    width: 300px;
    max-height: 400px;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: justify;
    display: flex;
    align-items: center;
}

/* Styling cta video section of index.html */

.cta-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.hog-video {
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.cta-aside {
    max-width: 150px;
    height: auto;
}

@media screen and (max-width: 900px) {
    .cta-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .cta-aside {
        max-width: 350px;
    }
}

@media screen and (max-width: 500px) {
    .hog-video {
        max-width: 275px;
    }
}

/* Styling intro section of help.html */

.help-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.help-intro-left {
    max-width: 500px;
    height: auto;
}

.help-intro-left > p {
    padding: 1rem 0;
    text-align: justify;
}

.help-intro-right > img {
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

/* Styling how to help section of help.html */

#help-how {
    min-height: 300px;
    width: 100%;
    background-color: #f2ecd2;
    padding-bottom: 2em;
}

.how-box > img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

.how-wrapper {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1em;
}

/* Styling footer */

footer {
    height: 5rem;
    background-color: #1a1a1a;
    text-align: center;
}

.footer-socials > li {
    display: inline;
}

footer a {
    color: white;
    text-align: center;
    padding: 0 1.5rem;
    line-height: 4.75rem;
    transition: all 0.9s linear 0s;
}

footer a:hover {
    color: #78a51a;
}

@media screen and (max-width: 500px) {
    footer a {
        padding: 0 0.5rem;
    }
}